.nav-body{
    padding:15px;
    background-color:whitesmoke;
}

.one {
    font-size:18px;
}

.two {
    font-size:20px;
    border:3px solid black;
}

#bioImg {
    height:350px;
    width:350px;
    border:4px solid;
    box-shadow:5px 10px black;
    margin-bottom:10px;
}

.pseudo-one:hover {
    background-color:purple;
    font-size:larger;
}

#lead-font {
    font-size:50px;
    
}


.jumbotron-body {
    background-color:teal;
    border: 3px solid black;
    font-family: "Permanent Marker", cursive;
    color:yellowgreen;
}

.body-style {
    background-color:lightgray;
    border:1px solid black;
    
}

.p-text {
    border:4px solid teal;
    box-shadow: 9px 15px black;
    font-family: "Aldo", cursive;
    font-size:large;
    font-weight:900;
}

.portfolio-border {
    border: 3px solid black;
    box-shadow: 5px 10px red;
    background-color: teal;
    padding:10px;
    font-family:"Permanent Marker", cursive;
    color:yellowgreen;
}

#footer-margin {
    margin-bottom: 350px;
}

.button {
    background-color:green;
    margin-left: 500px;
    border: 3px solid black;
}

.portfolio-img {
    border:6px double blue;
    padding: 10px black;
    
    /* box-shadow:5px 10px black; */
}

/* Cool Transform Image selector with pseudoclass, magnified picture everytime it was hovered over. */
.portfolio-img:hover {
    transform: scale(2.0);
      -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
     z-index: 2;
}

#contact-font {
    font-family: "Aldo", cursive;
}


